@import './vars.scss';

.details {
    h2 {
        font-size: 14px;
        color: $desert;
        letter-spacing: 9px;
        text-transform: uppercase;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 2px solid $desert;
    }
    .launch-pad,
    .rocket {
        margin-top: 5em;
    }
}