@import "./vars.scss";
body {
  margin: 0;
  background: $almost-black;
}

.container {
  &__bg {
    width: 80%;
    background: url("../img/moon.png") top center no-repeat;
    background-size: contain;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -10;
  }
}

.menu {
  width: 40%;
  margin: 200px auto 0;
  .logo {
    width: 100%;
    height: 200px;
    margin-left: 50px;
  }
}

.launches {
  width: 80%;
  margin: 10em auto 0;
  &__bg {
    width: 1px;
    height: 100%;
    border-right: 1px dashed #fff;
    position: absolute;
    z-index: -5;
    left: 51%;
    transform: translateX(-50%);
  }
  .single {
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    float: left;
    clear: left;
    list-style-type: none;
    position: relative;
    &:not(:first-child) {
      margin-top: 4em;
    }
    &__wrapper {
      float: left;
      display: flex;
      p:not(:first-child) {
        border-left: 1px solid #fff;
        margin-left: 15px;
        padding-left: 15px;
      }
    }
    .line {
      width: 95%;
      border-top: 2px solid $desert;
      background: $desert;
      float: left;
      position: relative;
      .arrow {
        width: 12px;
        height: 12px;
        background: url("../img/arrow_pointer.svg") center center no-repeat;
        background-size: cover;
        position: absolute;
        top: -7px;
        right: -1px;
        transform: rotateY(-180deg);
      }
    }
    .bullet {
      background: #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      right: -4px;
      top: 50%;
    }
    &:nth-of-type(2n) {
      float: right;
      clear: right;
      text-align: right;
      margin-top: 4em;
      .single__wrapper {
        float: right;
      }
      .line {
        float: right;
        .arrow {
          right: unset;
          left: -1px;
          transform: none;
        }
      }
      .bullet {
        left: -6px;
      }
      &:nth-child(2) {
        margin-top: 6em;
      }
    }
  }
}
