@import './vars.scss';
.rocket {
    &__container {
        display: flex;
        justify-content: space-between;
        &--left,
        &--right {
            border-left: 2px dashed $cool-grey;
            display: inline-block;
            padding-left: 3em;
            p {
                text-transform: uppercase;
                color: $cool-grey;
                margin-top: 0;
                span {
                    color: $almost-black;
                }
            }
        }
    }
}