@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}
$desert: #ccac5b;
$almost-black: #0f1112;
$brownish-grey: #666666;
$dark-grey: #22272b;
$cool-grey: #a7a9ac;