@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$desert: #ccac5b;
$almost-black: #0f1112;
$brownish-grey: #666666;
$dark-grey: #22272b;
$cool-grey: #a7a9ac;
body {
    margin: -15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    background: #fff;
}

ul:not(.launches__list) {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    li {
        border: 1px solid #fff;
        padding: 5px 25px;
        border-radius: 20px;
        margin: 0 1.5em;
        cursor: pointer;
        color: #fff;
        &:hover {
            background: #fff;
            color: $almost-black;
        }
    }
}

.logo {
    background: url('../img/space_x_logo_bw_centered.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}