.launches-list {
    background: $almost-black url("../img/moon.png") center 50px no-repeat;
    height: 100%;
    min-height: 100vh;
    color: #fff;
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 1200px;
    }
    .menu {
        margin-top: 10%;
        width: 100%;
        max-width: 900px;
        .filters {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            flex-wrap: wrap;
            padding: 0;
            li {
                border: 1px solid #fff;
                text-align: center;
                min-width: 140px;
                padding: 10px 0;
                border-radius: 20px;
                margin: 20px 0;
                cursor: pointer;
                &:hover {
                    background: #fff;
                    color: $almost-black;
                }
                &.active {
                    background: #fff;
                    color: $almost-black;
                }
                @include respond-to($tablet-portrait) {
                    width: 45%;
                }
            }
        }
        h3 {
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin: 50px auto;
        }
    }
    .launches {
        position: relative;
        margin-top: 50px;
        width: 100%;
        &-hidden {
            display: none;
        }
    }
    .dashed-line {
        width: 1px;
        height: 100%;
        border-right: 1px dashed #fff;
        position: absolute;
        margin-left: 50%;
        @include hide($tablet-portrait);
    }
}

ul {
    padding: 0;
}