.root-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  .logo {
    background: url("../img/space_x_logo_bw_centered.png")center center no-repeat;
    background-size: contain;
    height: 50px;
    @media screen and (max-width: 630px) {
      height: 30px;
    }
  }
}