$desert: #ccac5b;
$almost-black: #0f1112;
$brownish-grey: #666666;
$dark-grey: #22272b;
$cool-grey: #a7a9ac;
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

@mixin hide($media) {
  @media only screen and #{$media} {
    display: none;
  }
}